.container {
  background-color: var(--color-tertiary);
  border-radius: 12px;
  box-sizing: border-box;
  margin: auto;
  padding: 24px;
  width: 1000px;
}

.grid {
  column-gap: 24px;
  display: grid;
  grid-template-columns: 3fr 7fr;
  row-gap: 24px;
}


.value {
  max-width: 700px;
  overflow: auto;
  overflow-wrap: anywhere;
  word-break: break-all;
}

@media only screen and (max-width: 1280px) {
  .container {
    width: 800px;
  }
}

@media only screen and (max-width: 900px) {
  .container {
    width: 600px;
  }
}

@media only screen and (max-width: 700px) {
  .container {
    width: 400px;
  }
}

@media only screen and (max-width: 500px) {
  .container {
    width: 300px;
  }
}