.button {
  align-self: stretch;
}

.containerInner {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: flex-start;
  padding-bottom: 100px;
  padding-top: 100px;
}

.errorMessage {
  margin-top: 32px;
}

.inputs {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  row-gap: 20px;
}

.inputsAndButton {
  align-items: center;
  column-gap: 12px;
  display: flex;
  margin-top: 32px;
  width: 500px;
}

.loading {
  margin-top: 32px;
}

.results {
  margin-top: 32px;
  width: 100%;
}

@media only screen and (max-width: 640px) {
  .containerInner {
    padding-bottom: 60px;
    padding-top: 60px;
  }

  .inputsAndButton {
    width: 300px;
  }
}
